@keyframes ctr_spin_rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

:root {
    font-size: 22px;
    --gsky-primary: #003f5c;
    --gsky-secondary: #7a5195;
    --gsky-highlight-1: #ef5675;
    --gsky-highlight-2: #ffa600;
    --gsky-light:#FAFBFC;
    --gsky-lightish:#B8C4C2;
    --gsky-globalsize: 3rem;
}


.ctr_bg {
    background-color: var(--gsky-light);
    margin: 0 auto; 
    max-width:800px !important;
}

.main {
    margin-bottom: var(--gsky-globalsize)
}

.aniasset {
    animation: ctr_spin_rotation 2s infinite linear;
    display:block;
    height:50vh;
    margin-top:25vh;
    background-color: var(--gsky-light); 
    border-radius: 100px; 
    padding:50px;
}

.active {
    color: var(--gsky-highlight-2);
}


input [type="radio"] { 
    visibility:hidden; 
}

.radio-button input[type="radio"]:checked+label {
    color: var(--gsky-highlight-2) !important;
  }