@layout MainLayout;
@page "/DateList";
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;
@using HeresKids.Datamodels;

<div>    
    @if(!isLoading) {
        <div class="row" style="margin-top:20px;">
            <ul style="margin-left:30px;font-size:1.4rem;line-height:200%">
                @foreach (var li in bg)
                {
                    <li>
                        <a href="/Date/@li.forYear/@li.forMonth/@li.baby" style="font-color:var(--gsky-body-color) !important;">
                            <b style="color:#@li.color">@li.baby</b> had @li.ct videos in @li.forMonth / @li.forYear
                        </a>
                    </li>
                }
            </ul>
        </div>

    } else {
        <div style="width: 100%;display: grid;place-items: center;">
            <KidPic Spin=true Height="175" />
        </div>
    }


    <br><br><br><br><br><br>

    
</div>

@code {
    private RealmUser user = new RealmUser{};
    private bool isLoading = true;
    
    private List<BabyGrouping> bg;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await JSRuntime.InvokeAsync<RealmUser>("getUserDetails");
             isLoading = true;
            string[] args = {};
            bg = await JSRuntime.InvokeAsync<List<BabyGrouping>>("realmShim_Function", "getDateList", args);
            isLoading = false;
            
        } catch(Exception ex) {
            NavigationManager.NavigateTo("/");
        }
    }
}