@layout LoginLayout
@page "/"
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@using HeresKids.Datamodels;

<PageTitle>Log In to Here's the Kids</PageTitle>


<h1>Please Login</h1>
<KidPic Height="100" Spin=false />
<br />

@if(failedLogin) {
    <mark>Your email address or password is incorrect.</mark>
}


<label for="txt_username">Email Address</label>
<input type="text" name="txt_username" id="txt_username" @bind="username" @bind:event="onchange" placeholder="Email" />

<label for="txt_password">Password</label>
<input type="password" name="txt_password" id="txt_password" @bind="password" @bind:event="onchange" placeholder="Password" />

@if(!isLoading) {
    <button @onclick="RunLogin" id="btn_login" style="width:100%;">Login</button>
} else {
    <button aria-busy="true" aria-label="Logging In..." style="width:100%;">Logging In...</button>
}


@code {
    private bool isLoading = false;
    private bool loginSuccess = false;
    private bool failedLogin = false;
    private string username = "";
    private string password;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("captureEnter", "btn_login");
    }

    private async Task RunLogin() {
        isLoading = true;
        loginSuccess = await JSRuntime.InvokeAsync<bool>("login", username, password);
        if(loginSuccess) {
            NavigationManager.NavigateTo("/Vids");
        } else {
            failedLogin = true;
        } 
        isLoading = false;
    }
    
}