
@inject IJSRuntime JSRuntime;

<div class="row" style="margin-top:20px;">
    @while(offsetCount > 1) {
        <div class="col-3">@offsetCount</div>
        offsetCount--;
    }
    <div class="col-3" style="text-align:center;">^</div>
</div>

@code {
    [Parameter]
    public int offsetCount {get;set;}

}