
@inject IJSRuntime JSRuntime;
@using System;
@using System.IO;

<div class="jumbotron" id="jumbomainvid" style="width: 100%;">
    <div id="vidcntr" style="position: relative;" class="rr">
        <video controls loop autoplay width="100%" height="100%" id="mainvid" class="rr">
            <source src="@_currentVideoFullPath" type="video/mp4" />
        </video>
    </div>
</div>

@code {
    
    private string _currentVideoFullPath = null;

    [Parameter]
    public string Path  { 
        get { return _currentVideoFullPath; }
        set {
            InvokeAsync(async() => await UpdateVidLoading(value));
        }
    }

    private async Task UpdateVidLoading(string value) {
        if(File.Exists("/app/wwwroot/media/smaller/"+value)) {
            _currentVideoFullPath = "http://grabosky.dyndns.org:9999/media/smaller/"+value;
        } else {
            _currentVideoFullPath = "http://grabosky.dyndns.org:9999/media/"+value;
        }
        Console.WriteLine("Changing Video");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("loadVideo");
    }

}