@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider asp;

<main class="container">

    <article>
        <header>
            <h1>Here's The Kids</h1>

            <div class="grid">
                <NavLink role="button" href="/Vids" Match="NavLinkMatch.All">
                    <span class="material-symbols-outlined">home</span>
                </NavLink>
                <NavLink role="button" href="/RandomVid">
                    <span class="material-symbols-outlined">shuffle</span>
                </NavLink>
                <NavLink role="button" href="/Upload">
                    <span class="material-symbols-outlined">upload</span>
                </NavLink>
            </div>
        </header>
            
        <article style="min-height:90vh;">
            @Body
        </article>

        <footer>
            <div class="grid">
                <NavLink role="button" href="/DateList">
                    <span class="material-symbols-outlined">calendar_month</span>
                </NavLink>
                <NavLink role="button" href="/Profile">
                    <span class="material-symbols-outlined">person</span>
                    <span>@_un</span>
                </NavLink>
            </div>
        </footer>

    </article>

</main>

@code {
        private string _un = "";
       protected override async Task OnInitializedAsync() {
           var authState = await asp.GetAuthenticationStateAsync();
           if (!authState.User.Identity.IsAuthenticated) {
               NavigationManager.NavigateTo("/Login");
           } else {
               _un = authState.User.Identity.Name.Split('@')[0];
           }
       }
}